body{
    font-family: 'Arial, sans-serif';
    background-color: #f0f0f0;
    color: hsl(0, 0%, 20%);    
}
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h1{
    font-size: 2.5em;
    margin-bottom: 20px;
}
h2{
    font-size: 2em;
    margin-bottom: 15px;
}  